@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0f3c69;
  --primary-color-hover: #0f3c6957;
  --secondary-color: #1e90ff;
  --secondary-color-hover: #277ed4fb;

  --site-bg: #edf0f5;
  --primary-bg: #0f3c69;
  --secondary-bg: #1e90ff;

  --primary-icon: #0f3c69;
  --secondary-icon: #1e90ff;

  --primary-text: #0f3c69;
}

@layer components {
  .text-primary {
    @apply text-[color:var(--primary-text)];
  }
  .border-primary {
    @apply border-[color:var(--primary-color)];
  }
  .border-secondary {
    @apply border-[color:var(--secondary-color)];
  }
  .bg-site {
    @apply bg-[color:var(--site-bg)];
  }
  .bg-primary {
    @apply bg-[color:var(--primary-bg)];
  }
  .bg-secondary {
    @apply bg-[color:var(--secondary-bg)];
  }
  .bg-secondary-hover {
    @apply bg-[color:var(--secondary-color-hover)];
  }
  .icon {
    @apply h-6 w-6 cursor-pointer rounded-sm text-[color:var(--primary-icon)] lg:h-9 lg:w-9 lg:p-1 lg:hover:bg-gray-100;
  }
  .icon-carousell {
    @apply h-6 w-6 cursor-pointer rounded-md  border border-slate-800 text-[color:var(--primary-icon)] lg:h-7 lg:w-7  lg:hover:bg-gray-100;
  }
  .icon-bookmark {
    @apply h-6 w-6 cursor-pointer  text-[color:var(--primary-icon)] lg:h-7 lg:w-7  lg:hover:bg-gray-100;
  }
  .icon-sm {
    @apply h-9 w-6 cursor-pointer rounded-sm  lg:w-9 lg:p-1 lg:hover:bg-gray-100;
  }
  .icon-big {
    @apply h-12 w-8 transform cursor-pointer rounded-sm text-[color:var(--secondary-icon)] transition duration-100 active:text-black disabled:text-gray-400 lg:w-12 lg:p-1 lg:hover:text-opacity-80;
  }

  .button-active {
    @apply flex max-h-8 transform cursor-pointer items-center rounded-full  border bg-[#1e90ff] px-4 py-2 text-white transition duration-100 ease-out  hover:shadow-lg active:scale-95 active:bg-gray-100;
  }
  .button {
    @apply flex max-h-8 transform cursor-pointer items-center rounded-full  border border-black  px-4 py-2 transition duration-100 ease-out  hover:shadow-lg active:scale-95 active:bg-gray-100;
  }
  .searchBarModal {
    @apply absolute top-0 left-0 z-30 h-screen w-screen cursor-default;
  }
  input,
  select,
  textarea {
    @apply rounded border p-2 outline-none ring-indigo-300;
  }

  .errormessage {
    @apply block pl-5 text-sm text-red-500 sm:text-sm;
  }
  input:invalid[data-focused='true'] {
    @apply border-2 border-red-500;
  }
  /* login */
  .form-login {
    @apply mx-auto flex w-full max-w-[400px] flex-col items-center rounded-lg bg-white p-8 px-8;
  }
  .input-login {
    @apply focus:bg-site mt-2 w-full rounded-lg bg-blue-200/70 p-2 pl-5 focus:border-blue-500 focus:outline-none;
  }
  .label-login {
    @apply mb-1 mt-4 ml-5 block text-xs font-bold uppercase tracking-wide text-[color:var(--primary-text)] sm:text-sm;
  }
  .login-button {
    @apply hover:bg-secondary-hover my-5 w-full  rounded-lg bg-secondary-color py-2 text-white outline-none active:bg-primary-color;
  }
  /* create listing */
  .listingForm {
    @apply my-10 w-full leading-tight xl:my-20;
  }
  .form-button {
    @apply my-5 w-full rounded-lg bg-secondary-color py-2 text-white outline-none  xl:w-[250px];
  }
  .input-form {
    @apply w-full appearance-none border-gray-500  bg-[#edf0f5] py-3 px-5 leading-tight  text-gray-700 focus:border-gray-500/30 focus:bg-white focus:outline-none sm:w-2/3 lg:w-1/2;
  }
  /* .priceInput-form {
    @apply w-12 outline-none disabled:bg-slate-300 disabled:text-black/20;
  } */
  .priceInput-form {
    @apply text-primary h-6 w-12 p-0 text-center outline-none disabled:bg-slate-300 disabled:text-black/20;
  }
  .studiotypeActive {
    @apply border-secondary bg-secondary max-w-[435px] rounded border-2 p-4 font-thin text-white transition duration-75 ease-in  active:scale-95;
  }
  .studiotype {
    @apply border-primary bg-primary max-w-[435px] rounded border-2 p-4 font-thin text-white  transition duration-75 ease-in  active:scale-95;
  }
  .checkbox-form {
    @apply flex items-center gap-2;
  }
  .radio-form {
    @apply bg-primary checked:bg-secondary flex max-w-max cursor-pointer items-center gap-2 rounded-xl p-1 pl-2 text-white shadow-lg transition duration-75 ease-in active:scale-95;
  }
  .radio-formActive {
    @apply bg-secondary checked:bg-secondary flex max-w-max cursor-pointer items-center gap-2 rounded-xl p-1 pl-2 text-white shadow-lg transition duration-75 ease-in active:scale-95;
  }
  .label-form {
    @apply mb-2 ml-5 block text-base font-bold uppercase tracking-wide text-[color:var(--primary-text)] lg:text-lg;
  }
  .number-search {
    @apply mb-1 h-10 w-14 rounded-full border  bg-[#1e90ff] px-4  text-white outline-none disabled:text-white;
  }
  .select-search {
    @apply top-1 mb-1 h-10 max-w-min cursor-pointer  rounded-full bg-[#1e90ff] pl-5  text-white after:absolute after:h-5 after:w-5;
  }
  .date-search {
    @apply mb-2 cursor-pointer rounded-full text-center outline-none;
  }
  /* carousell */
  .container-padding-bottom {
    @apply pt-24 pb-2;
  }
  /* Tables */
  .filter-table {
    @apply mb-2 flex min-w-fit gap-4 rounded-lg bg-gray-100 py-2 px-5 [&_div]:flex [&_div]:items-center [&_div]:gap-2;
  }
  .select-table {
    @apply bg-primary top-1 mb-1 h-10 max-w-min cursor-pointer rounded-xl pl-5 pr-8 text-white after:absolute after:h-5 after:w-5;
  }
  .tableWrap {
    @apply block max-w-full overflow-y-hidden overflow-x-scroll text-xs sm:text-sm md:text-base;
  }
  .table {
    @apply w-full border-spacing-0 [&_tr:last-child]:border-b-0;
  }
  .th {
    @apply border-secondary m-0 w-[1%] border-b border-r p-2 [&:last-child]:border-r-0;
  }
  .collapse {
    @apply w-[0.0000000001%];
  }
  .thead {
    @apply bg-slate-100/10;
  }
  .tbody {
    @apply bg-primary text-white;
  }
  .td {
    @apply border border-white p-4 text-center;
  }
  .evenRow {
    @apply bg-blue-200/20;
  }
  /* .evenRow {
    @apply bg-blue-600/30;
  } */
  .pagination {
    @apply mt-2 flex items-center gap-4 rounded-lg bg-gray-100 py-2 px-5;
  }
  .pagination-buttons {
    @apply flex gap-1;
  }
  .pagination-button {
    @apply bg-primary flex max-h-8 transform cursor-pointer items-center rounded-md  border border-black px-3  py-2 text-white transition duration-100 ease-out active:scale-95 active:bg-gray-100;
  }
  .pagination-input {
    @apply text-primary text-center outline-none;
  }
  .editModal {
    @apply fixed top-0 left-0 z-30 h-screen w-screen cursor-default;
  }

  /* Headers */
  .h1 {
    @apply block text-2xl font-bold uppercase tracking-wide  text-[color:var(--primary-text)] md:text-xl lg:text-2xl;
  }
  .h2 {
    @apply block text-lg font-bold uppercase tracking-wide  text-[color:var(--primary-text)] md:text-xl lg:text-2xl;
  }
  .h3 {
    @apply block text-sm font-bold uppercase tracking-wide  text-[color:var(--primary-text)] md:text-[15px] lg:text-lg;
  }
  .h4 {
    @apply text-lg font-semibold;
  }
  .searchFadein {
    animation: fadeInAnimation 250ms;
  }

  @keyframes fadeInAnimation {
    from {
      transform: translateY(-85%) translateX(-100%) rotate(23deg);
    }
    to {
      transform: translateY(0) translateX(0) rotate(0deg);
    }
  }

  /* Set all svg colors svg {
		@apply primary-color;
	} */
}
@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
    opacity: 1;
    outline: none;

    /* -webkit-text-fill-color: #ffffff; */
  }

  select {
    -webkit-appearance: none;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyMC4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCA0LjkgMTAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQuOSAxMDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGw6I2ZmZmZmZjt9DQo8L3N0eWxlPg0KPHRpdGxlPmFycm93czwvdGl0bGU+DQo8cG9seWdvbiBjbGFzcz0ic3QwIiBwb2ludHM9IjEuNCw0LjcgMi41LDMuMiAzLjUsNC43ICIvPg0KPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIzLjUsNS4zIDIuNSw2LjggMS40LDUuMyAiLz4NCjwvc3ZnPg==')
      no-repeat 95% 50%;
    margin: 0;
  }
}
